/* Import the custom font */
@font-face {
    font-family: 'YourCustomFont';
    src: url('LumiosMarker.otf') format('opentype');
    /* Add other font formats here if needed */
}

/* Import the second custom font (.ttf) */
@font-face {
    font-family: 'YourSecondFont';
    src: url('RedHatDisplay.ttf') format('truetype');
    /* Add other font formats here if needed */
}

body {
    font-family: 'YourSecondFont', sans-serif;
    color: #333;
    margin: 0;
}

h1, h2, h3 {
    margin: 0 0 0.5em;
}

h1 {
    font-size: 60px;
    font-family: 'YourCustomFont', sans-serif;
}

h2 {
    font-size: 28px;
    font-family: 'YourCustomFont', sans-serif;
    position: relative;
    display: inline-block;
    padding: 0.5em 1em;
    background-color: #cae9fe;
    color: #fff;
    border-radius: 8px;
    margin-bottom: 0.5em; /* Optional: Add some spacing between h2 elements */
}

h3 {
    font-size: 24px;
    font-family: 'YourCustomFont', sans-serif;
    position: relative;
    padding: 0.2em;
    background-color: #ca e9fe;
    color: #fff;
    border-radius: 8px;
    margin-bottom: 0.5em; /* Optional: Add some spacing between h3 elements */
}

p {
    margin: 0 0 1em;
}

.container {
    max-width: cover;
    margin: 0 auto;
    padding: 24px;
}

header {
    text-align: center;
    background-image: url('img/background.png');
    background-size: cover; /* Adjust based on your image size */
    background-position: center center;
    color: #fff;
    padding: 40px 0; /* Adjust padding as needed */
}

footer {
    border-top: 2px solid #cae9fe;
}

blockquote {
    background: linear-gradient(45deg, #eddbff, transparent);
    color: #cae9fe;
    padding: 1em;
    border-radius: 4px;
    margin: 0;
}

/* Additional Styles */
main {
    background-color: #f2f9f1;
    font-family: 'YourSecondFont', sans-serif;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

article {
    border-bottom: 2px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

article h2, article h3 {
    position: relative;
    padding: 0.5em;
    background-color: #cae9fe;
    color: #000;
    border-radius: 8px;
    margin-bottom: 0.5em; /* Optional: Add some spacing between h2 and h3 elements */
}
